{% extends "layout.html" %}
{% block content %}
	<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
			  <p>Patients that are negative:</p>
              <p>{{returnString}}</p>
          </div>
        </article>


    {% for row in outString %}
        <article class="media content-section">
		    <div class="media">
			<!- <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg')}}">
			<img class="rounded-circle account-img" src="{{ image_file }}"> 
			<div class="media-body">
            <div class="article-metadata">		  
              <small class="text-muted">SSN: {{ row['ssn'] }} // Address: {{ row['address']}} // DOB: {{ row['dob'] }} // Sex: {{ row['sex'] }}	</small>			  
            </div>
			<h2><a class="article-title" href="{{ url_for('patient', ssn=row.ssn) }}">{{ row.name }}</a></h2>
           
          </div>
        </article>
     {% endfor %}
{% endblock content %}