{% extends "layout.html" %}
{% block content %}
    {% for row in outString %}
        <article class="media content-section">
		    <div class="media">
			<img class="rounded-circle account-img" src="{{ row.image_file }}">
			<div class="media-body">
            <div class="article-metadata">		  
              <small class="text-muted">SSN: {{ row['ssn'] }} // Address: {{ row['address']}} // DOB: {{ row['dob'] }} // Sex: {{ row['sex'] }}	</small>			  
            </div>
			<h2><a class="article-title" href="{{ url_for('patient', ssn=row.ssn) }}">{{ row.name }}</a></h2>
           
          </div>
        </article>
     {% endfor %}
{% endblock content %}