{% extends "layout.html" %}
{% block content %}

	<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
			  <p>Symptoms where treatment is nyquil:</p>
              <p>{{returnString}}</p>
          </div>
        </article>

	
    {% for row in outString %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ row }}</a>		  
              <small class="text-muted">{{ row['t_id'] }}  {{ row['t_name'] }}</small>		  
            </div>
			<h2><a class="article-title" href="{{ url_for('treatment', t_id=row.t_id) }}">{{ row.t_name }}</a></h2>

          </div>
        </article>
     {% endfor %}
{% endblock content %}